* {
    margin:0;
    padding: 0;
}
html, body {
    min-height: 100%;
}
body {
    font: 200 100%/1.4 'Macan', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-bottom: 6em;
    letter-spacing: .01em;
}
footer, main {
    max-width: 1024px;
    margin: 0 auto;
}
header {
    background: #fff;
    color: #1dbf73;
    text-align: center;
    padding: 3em;
    margin: 0 0 1em;
    border-bottom: 1px solid #003912;

    img {
        margin: 0 0 1em;
    }
}
a {
    text-decoration: none;
    color: inherit;
}
footer {
    padding: 1em;
}
